﻿@using N2L.CRM.WEB.UI.ViewModels
@model  IEnumerable<N2L.CRM.WEB.UI.ViewModels.PedidoViewModel>

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-6">
            <table class="table table-bordered table-condensed" id="tabela">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(x => x.Produto)</th>
                        <th>@Html.DisplayNameFor(x => x.ProdutoQtde)</th>
                        <th>@Html.DisplayNameFor(x => x.Cliente.Nome)</th>
                        <th> </th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr data-codigo="@item.PedidoId">
                            <td>@item.Produto.Descricao</td>
                            <td>@item.ProdutoQtde</td>
                            <td>@item.Cliente.Nome</td>
                            <td><input type="button" value="Editar" class="btn btn-primary btn-editar-pedido" /></td>
                            <td><input type="button" value="Remover" class="btn btn-danger btn-remover-pedido" /></td>
                        </tr>
                    }

                </tbody>
            </table>
            <input type="button" id="btnAddItem" value="Inserir Item" class="btn btn-default" />
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        $(function () {
            $('#btnAddItem').on('click', function () {
                $.ajax({
                    url: '/Pedidos/CreateItemPedido',
                    type: 'GET',
                    success: function (data) {
                        $('#tabela tbody').append(data);
                    }
                });
            });

            $('#btnEnvio').click(function () {
                $.ajax({
                    url: '/Pedidos/Create',
                    type: 'POST',
                    success: function (data) { }
                });
            });

            $('.btn-editar-pedido').on('click', function () {
                var botao = $(this);

                $.ajax({
                    url: "/Pedidos/EditPedido",
                    data: { id: $(botao).parents('tr').data('codigo') },
                    type: "GET",
                    success: function (data) {
                        $(botao).parents('tr').html(data);
                    }
                });

            });

            $('.btn-remover-pedido').click(function () {
                $(this).parents('tr').addClass('remover');
                $.ajax({
                    url: '/Pedidos/Delete',
                    type: 'POST',
                    data: { id: $(this).parents('tr').data('codigo') },
                    success: function () {
                        $('.remover').hide(700).promise();//.done(function () {
                            //$('.remover').html("<td colspan='5' id='linhaRemocao'>Item remvido com Sucesso</td>");
                            //$('#linhaAlteracao').parents('tr').show(700).delay(1200).hide(700);
                        //});
                    }
                });
            });
        });
    </script>

}
