﻿@model IEnumerable<N2L.CRM.WEB.UI.ViewModels.PedidoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClienteId)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Cliente.Nome)
        </th>
        <th>
            @Html.Label("Quantidade")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteId)
        </td>
        <td>
            @Html.DisplayFor(x=> item.Cliente.Nome)
        </td>
        <td>
            @Html.DisplayFor(x=>item.ProdutoQtde)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PedidoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PedidoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PedidoId })
        </td>
    </tr>
}

</table>
