﻿.spacer {
    clear: both;
    height: 20px;
}

.dvBorda {
    border: 2px gray solid;
    border-radius: 0px 0px 20px 20px;
    background: whitesmoke;
    padding: 20px;
}

.menu-superior {
    margin-top: 20px;
}


.menu-lateral {
    border: 2px solid whitesmoke;
    background-color: lightcoral;
    opacity: 0.8;
    width: 100px;
    float: left;
    height: 100%;
    margin-left: -2%;
    position: fixed;
}



    .menu-lateral li {
        list-style: none;
    }



    .menu-lateral ul {
        /*margin-left: -40%;*/
        margin-top: 35px;
    }

.menu-lateral-icone {
    color: black;
    font-size: 19px;
}


.menu-lateral-texto {
    font-size: 18px;
    color: black;
}

/*.menu-lateral-texto :hover {
    background-color: lightcoral;
    transition: 1s;
    width: 170px;
    height: 50px;
    padding-top: 15px;
    border-radius: 20px;
}*/
.body-content {
    /*z-index: 1;*/
    margin-left: 60px;
}


.text-validation-error {
    border: 2px solid red;
}

.text-validation-success {
    border: 2px solid green;
}

.sem-estoque {
    /*background-color: lightcoral;*/
    border: 2px solid red;
}

#infoLogin {
    margin-right: 30%;
    margin-left: 30%;
    text-align: center;
    font-weight: bold;
}

.divLogin {
    position: absolute;
    top: 20%;
    left: 35%;
    border-radius: 20px;
    border: 2px solid black;
    background: rgba(0, 0, 0, 0.7);
    width: 31%;
    padding: 10px 20px 10px 30px;
}

.dvChat > well {
    height: 520px;
}

.legenda-lateral {
    font-size: 18px;
    margin-left: -12px;
}

a :hover {
    text-decoration: none;
}
.chatTalk {
    height: 338px;
    overflow: auto;
}
