﻿@model N2L.CRM.WEB.UI.ViewModels.UsuarioViewModel



<section style="width: 100%; height: 100%; ">
    <video autoplay="" muted="" loop="" style="width: 100%; height: 100%;" fullscreen>
        <source src="//secure-c.vimeocdn.com/p/video/yosemite_hd_ii_hd.webm" type="video/webm">
        <source src="//secure-c.vimeocdn.com/p/video/yosemite_hd_ii_hd.mp4" type="video/mp4">
    </video>
</section>

@{
    ViewBag.Title = "Index";
}

@if (@TempData["validacao"] != null)
{
    <div class="alert alert-danger" id="infoLogin">
        @TempData["validacao"]
    </div>
}

<div class="row">
    <div class="row dvBorda" id="dvEsquecerSenha" style="display: none;">
        <div class="col-lg-12">
            @using (Html.BeginForm("Login", "Email", FormMethod.Post))
            {
                <p>Esqueceu sua senha? Informe seu e-mail para que seja repassada em seu e-mail.</p>
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Informe seu e-mail" })
                <button type="submit" id="btnEnvioEsqueci" class="btn btn-primary">Enviar</button>
                <button type="reset" id="btnCancelaEnvio" class="btn btn-danger">Cancelar</button>
            }
        </div>
    </div>

    <div class="col-lg-4"></div>
    <div class="col-lg-8 menu-superior divLogin" style="color:white">
        <h2>Olá quem é você?</h2>
        @using (Html.BeginForm("Index", "Login", FormMethod.Post))
        {
            @Html.TextBoxFor(x => x.Login, new { @class = "form-control", @placeholder = "Informe seu Login" })
            @Html.PasswordFor(x => x.Senha, new { @class = "form-control", @placeholder = "Informe sua senha" })
            <div class="spacer"></div>
            <button type="submit" class="btn btn-primary">Enviar</button>
            <button type="reset" class="btn btn-danger">Cancelar</button>
            <button type="button" id="btnEsqueci" class="btn btn-default">Esquecia a Senha</button>
        }
    </div>

</div>

<script>
    $(function () {
        $('#btnEsqueci, #btnCancelaEnvio').click(function () {
            $('#dvEsquecerSenha').slideToggle(500);
        });

        if ($('#infoLogin').show()) {
            $('#infoLogin').fadeOut(7000);
        }

    });
</script>

<style>

    body {
        background-color: black;
    }
</style>