﻿@model IEnumerable<N2L.CRM.WEB.UI.ViewModels.ClienteViewModel>

@{
    ViewBag.Title = "Listagem Cliente";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Cadastro Cliente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Facebook)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Nome <br /> @item.Sobrenome
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                <a href="@item.Facebook">
                    Facebook
                </a>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ClienteId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ClienteId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ClienteId })
            </td>
        </tr>
    }

</table>
