﻿@model N2L.CRM.WEB.UI.ViewModels.EventosViewModel

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Editar Evento</h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.HiddenFor(x => x.EventoId)
            <div class="form-group">
                <label class="col-sm-3 control-label">@Html.DisplayNameFor(x => x.Descricao)</label>
                <div class="col-sm-9">
                    @*<input type="text" class="form-control" id="txt-titulo-evento" placeholder="Título" />*@
                    @Html.TextBoxFor(x => x.Descricao, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">@Html.DisplayNameFor(x => x.DtEventoInicio)</label>
                <div class="col-sm-6">
                    @*@Html.TextBoxFor(x => x.DtEventoInicio, new { @class = "form-control", @type = "date" })*@
                    <input type="text" id="dataInicio" class="form-control data" value=" " />
                    <input type="text" id="horaInicio" class="form-control time" value=" " />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">@Html.DisplayNameFor(x => x.DtEventoFinal)</label>
                <div class="col-sm-9">
                    <input type="text" id="dataFinal" class="form-control data" value=" " />
                    <input type="text" id="horaFinal" class="form-control time" value=" " />
                    @*@Html.TextBoxFor(x => x.DtEventoFinal, new { @class = "form-control", @type = "date" })*@
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Tipos de evento</label>
                <div class="col-sm-9">
                    <div class="btn-group pull-left">
                        <button type="button" class="btn btn-default btn-selecione-ddl-cor-evento">Selecione</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" id="ddl-cor-evento">
                            <li><a href="#" class="primary"><span style="background-color: #337ab7;"></span>&nbsp;Padrão</a></li>
                            <li><a href="#" class="danger"><span style="background-color: #c9302c;"></span>&nbsp;Urgente</a></li>
                            <li><a href="#" class="warning"><span style="background-color: #f0ad4e;"></span>&nbsp;Trabalho</a></li>
                            <li><a href="#" class="success"><span style="background-color: #5cb85c;"></span>&nbsp;Pessoal</a></li>
                            <li><a href="#" class="info"><span style="background-color: #5bc0de;"></span>&nbsp;Estudo</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="btn-cancelar-edicao" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" id="btn-editar-evento" class="btn btn-primary">Salvar</button>
        <input type="hidden" id="hdf-id-evento-edicao" />
        <input type="hidden" id="hdf-cor-evento-edicao" />
    </div>
</div>


<script src="~/Scripts/jquery.maskedinput.min.js"></script>

<script>



    $(function () {

        $('.time').mask('99:99');
        $('.data').mask('99/99/9999');
        $('.data').datepicker(
            {
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
                dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
                dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
                monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
                monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior',
                showOtherMonths: true,
                selectOtherMonths: true
            });


        $('#btn-editar-evento').on('click', function () {
            if ($('#EventoId').val() != "0") {
                $.ajax({
                    url: '/Eventos/EditarEventos',
                    type: "POST",
                    data: {
                        id: $('#EventoId').val(),
                        descricao: $('#Descricao').val(),
                        dataInicio: $('#dataInicio').val() + " " + $('#horaInicio').val(),
                        dataFinal: $('#dataFinal').val() + " " + $('#horaFinal').val(),
                        color: $("#hdf-cor-evento-edicao").val()
                    },
                    success: function () {
                        $('.modal-editar-evento').modal('hide');
                        $('#calendar').fullCalendar("removeEvents");
                        $('#calendar').fullCalendar("refetchEvents");
                    }
                });
            }
            else {
                $.ajax({
                    url: '/Eventos/AdicionarEventos',
                    type: "POST",
                    data: {
                        id: $('#EventoId').val(),
                        descricao: $('#Descricao').val(),
                        dataInicio: $('#dataInicio').val() + " " + $('#horaInicio').val(),
                        dataFinal: $('#dataFinal').val() + " " + $('#horaFinal').val(),
                        color: $("#hdf-cor-evento-edicao").val()
                    },
                    success: function () {
                        $('.modal-editar-evento').modal('hide');
                        $('#calendar').fullCalendar("removeEvents");
                        $('#calendar').fullCalendar("refetchEvents");
                    }
                });
            }
        });
    });
</script>
