﻿@model N2L.CRM.WEB.UI.ViewModels.PedidoViewModel


<td>
    @Html.TextBoxFor(x => x.Produto.Descricao, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Produto.Descricao)
    @Html.ValidationMessageFor(model => model.ProdutoId, "", new { @class = "text-danger" })
</td>
<td>
    @Html.EditorFor(model => model.ProdutoQtde, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.ProdutoQtde, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ProdutoId, new { htmlAttributes = new { @class = "form-control" } })
</td>
<td>
    @Html.TextBoxFor(x => x.Cliente.Nome, new { @id = "Descricao", @class = "form-control" })
    @Html.HiddenFor(x => x.Cliente.ClienteId)


</td>
<td>
    <input type="button" id="btnEditar" class="btn btn-primary" value="Editar" />
</td>
<td>
    <input type="button" id="btnCancelar" class="btn btn-danger" value="Cancelar" />
</td>


@section Scripts {@Scripts.Render("~/bundles/jqueryval")

}

<script>
    $(function () {
        $('#btnSalvar').click(function () {
            var botao = $(this);
            var cliente = $('#Descricao').val();
            if (!$('#ProdutoQtde').hasClass('sem-estoque')) {
                $.ajax({
                    url: '/Pedidos/Create',
                    type: 'POST',
                    data: {
                        produto: $('#ProdutoId').val(),
                        quantidade: $('#ProdutoQtde').val(),
                        cliente: $('#Cliente_ClienteId').val()
                    },
                    success: function (data) {
                        //console.log(data);
                        $('#btnSalvar').parents('tr').hide(700).promise().done(function () {
                            $(this).html("<td colspan='5' id='linhaAlteracao'>Item Inserido com Sucesso</td>");
                            $('#linhaAlteracao').parents('tr').show(700).delay(1200).hide(700).promise().done(function () {
                                $('#linhaAlteracao').parents('tr').html("<td>" + data.Produto.Descricao + "</td><td>" + data.ProdutoQtde + "</td><td>" + cliente + "</td><td><input type='button' id='btnSalvar' class='btn btn-primary btn-editar-pedido' value='Editar' /></td><td><input type='button' id='btnCancelar' class='btn btn-danger btn-remover-pedido' value='Remover' /></td>").show(700);
                            });
                        });
                    }
                });
            }
        });

        $('#btnCancelar').click(function () {
            $(this).parents('tr').html('');
        });

        $('#Produto_Descricao').autocomplete({
            minLenght: 3,
            source: function (request, response) {
                $.getJSON('/Pedidos/AutoCompleteProdutos', { term: request.term }, function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Nome,
                            valor: item.Codigo
                        };
                    }));
                });
            },
            select: function (event, ui) {
                $('#ProdutoQtde').removeClass('text-validation-error');
                $('#ProdutoQtde').removeClass('text-validation-success');

                $('#ProdutoId').val(ui.item.valor);
                if ($('#ProdutoQtde').val() != "") {
                    $.ajax({
                        url: "/Pedidos/GetDisponibility",
                        data: {
                            id: ui.item.valor,
                            quantidade: $('#ProdutoQtde').val()
                        },
                        statusCode: {
                            998: function (data) {
                                $('#ProdutoQtde').addClass('text-validation-success');
                            },
                            999: function (data) {
                                $('#ProdutoQtde').addClass('text-validation-error');
                                $('.text-danger [data-valmsg-for="ProdutoQtde"]').html(data);
                            }
                        }
                    });
                }
            }
        });
        $('#Descricao').autocomplete({
            minLenght: 3,
            source: function (request, response) {
                $.getJSON('/Pedidos/AutoCompleteClientes', { term: request.term }, function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Nome,
                            valor: item.Codigo
                        };
                    }));
                });
            },
            select: function (event, ui) {

                //if ($('#Descricao').val() != "") {
                $('#Cliente_ClienteId').val(ui.item.valor);
                //}
            }
        });
        $('#ProdutoQtde').blur(function () {
            //if ($('$ProdutoQtde').val()!="") {
            $.ajax({
                url: "/Pedidos/GetDisponibility",
                data: {
                    id: $('#ProdutoId').val(),
                    quantidade: $('#ProdutoQtde').val()
                },
                statusCode: {
                    998: function (data) {
                        $('#ProdutoQtde').removeClass('sem-estoque');
                        $('#ProdutoQtde').addClass('text-validation-success');
                    },
                    999: function (data) {
                        $('#ProdutoQtde').removeClass('text-validation-success');
                        $('#ProdutoQtde').addClass('sem-estoque');
                    }
                }
            });
        });
    });
</script>