﻿@using N2L.CRM.WEB.UI.ViewModels
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <style>
        .N2lUsuario {
            color: white;
            float: right;
            font-size: 20px;
            margin-top: 20px;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @* Menu Superior *@
            <div class="navbar-header col-lg-12">
                @if (Request.IsAuthenticated)
                {
                    <div class="">
                        <a href="/Usuarios/Edit/@HttpRuntime.Cache.Get("Codigo")"><span class="N2lUsuario">@HttpRuntime.Cache.Get("Usuario")</span></a>
                        <img src="@HttpRuntime.Cache.Get("Foto")" id="imgUser" class="visualiza img-circle img-responsive" style="width: 5%; margin:10px; float: right; " />

                    </div>
                }
                <a href="#">
                    <img src="~/Images/N2L.png" />
                </a>
            </div>
        </div>
    </div>@if (Request.IsAuthenticated)
    {
        <div class="menu-lateral" style="z-index: 9">
            <ul>
                <li>
                    <div class="menu-icone">
                        <span class="menu-lateral-texto">
                            <a href="/Home/Index">
                                <span class="glyphicon glyphicon-home " aria-hidden="true"></span>
                                <br />
                                <span class="legenda-lateral">Início</span>
                            </a>
                        </span>
                    </div>
                </li>
                <hr />
                <li>
                    <div class="menu-icone">
                        <span class="menu-lateral-texto">
                            <a href="/Clientes/Index">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                <br />
                                <span class="legenda-lateral">Clientes</span>
                            </a>
                        </span>
                    </div>
                </li>
                @*<hr />
                <li>
                <div class="menu-icone">
                    <span class="menu-lateral-texto">
                        <a href="/Usuarios/Index">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            <span></span>
                        </a>
                    </span>
                </div>
            </li>*@
                <hr />
                <li>
                    <div class="menu-icone">
                        <span class="menu-lateral-texto">
                            <a href="/Pedidos/Create">
                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                <br />
                                <span class="legenda-lateral">Pedidos</span>
                            </a>
                        </span>
                    </div>
                </li>
                <hr />
                <li>
                    <div class="menu-icone">
                        <span class="menu-lateral-texto">
                            <a href="/Settings/Index">
                                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                <br />
                                <span class="legenda-lateral">Config.</span>
                            </a>
                        </span>
                    </div>
                </li>
                <hr />
                <li>
                    <div class="menu-icone">
                        <span class="menu-lateral-texto">
                            <a href="/Home/SignOut">
                                <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                                <br />
                                <span class="legenda-lateral">Sair</span>
                            </a>
                        </span>
                    </div>
                </li>
                <hr />
            </ul>
        </div>
    }
    <div class="col-lg-12">

        <div class="container body-content col-md-12">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - All rights <span class="N2L">N2L</span></p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
