﻿
<div class="well">
    <div style="text-align:center;">
        <p style="font-weight: bolder;">WebChat Consultoras</p>
    </div>
    <div class="chatTalk">

    </div>
    <div class="input-chat">
        @*<input type="text" value="" class="form-control" id="txtMensagem" />*@
        <textarea id="txtMensagem" class="form-control"></textarea>
        <button type="button" id="btn-mensagem-chat" class="btn btn-primary">Enviar</button>    
    </div>
    
</div>

<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="/signalr/hubs"></script>

<script>
    var chat = $.connection.chatHub;

    $(function () {


        chat.client.broadCastmessage = function (name, message) {

            $('.chatTalk').append('<div class="col-md-12" style="float:left">' + name + ':<span class="cl-md-8">' + message + '</span></div>');
            $('#txtMensagem').val('');
            $('.chatTalk').scrollTop(1000000000);

        };
        $.connection.hub.start().done(function () {
            $('#btn-mensagem-chat').click(function () {
                chat.server.send("<img src='@HttpRuntime.Cache.Get("Foto")' id='imgUser' class='visualiza img-circle img-responsive col-md-3' style='margin-bottom:10px;' />", $('#txtMensagem').val());
                


            });
        });
    });


</script>