﻿@using N2L.CRM.WEB.UI.ViewModels
@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/fullcalendar.css" rel="stylesheet" />
<script src="~/Scripts/fullcalendar.min.js"></script>
<div class="row" style="margin-top: 33px;">
    <div class="col-md-12">
        <div class="col-md-6 well">
            <div id="calendar"></div>
            <div class="modal fade modal-editar-evento">
                <div class="modal-dialog">
                    @Html.Partial("_CadastroEventos", new EventosViewModel())
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4 dvChat" >
         @Html.Partial("_WebChat")

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-8">
            <div class="well">
                <p>Controle dos Clientes</p>
                <div id="mapa"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>


<style>
    #mapa {
        width: 100%;
        height: 300px;
        background-color: #CCC;
        margin-top: 27px;
        margin-bottom: 120px;
    }
</style>
<style>
    .event-calendar .content {
        margin: 5px;
        padding: 3px;
        border-left: solid 2px #ddd;
        padding-left: 5px;
    }
</style>

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="~/Scripts/Principal.js"></script>
